/* DESKTOP */
@media (min-width: 600px){
    /* Father div */
    .Container {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
    }
    /* Title */
    .Post-heading {
        width: 50%;
        padding: 2em 4em 1em 2em; 
        margin: 0 2em 0 2em;
        text-align: left;
        position: relative;
        left: 20%;
    }
    .Post-heading h1 {
        font-family: 'Fira Code';
        padding: .4em;
        display: inline;
        color: var(--base2);
        border-bottom: 2px solid var(--base1);
    }

    /* Posts */
    .Posts {
        position: relative;
        left: 20%;
        width: 70%;
        padding: 1em;
        margin: 0 2em 0 2em;
        text-align: left;
    }

    /* <li> tag inside*/
    .post-item {
        padding: 2em;
        list-style: none;
    }

    /* <li> <h3> tag inside/title */
    .post-title {
        display: inline;
    }
    /* <li> <h3> <a> tag inside */
    .post-title a {
        font-size: 1.4em;
        font-family: 'Fira Code';
        text-decoration: underline;
        color: var(--cyan);
    }
    /* <li> <time> tag inside */
    .post-date {
        font-size: 12px;
        font-family: 'Fira Code';
        font-style: italic;
        color: var(--base01);
        margin-left: 10px;
    }
    /* post summary div */
    .post-summary {
        font-family: 'Anonymous Pro';
        width: 50%;
        height: auto;
        margin: 5px;
        color: var(--base0);
    }
    /* Tags */
    .tags {
        margin: 5px;
    }
    .tags b {
        color: var(--base1);
        font-family: monospace;
    }
    .tags a {
        font-family: 'Fira Code';
        font-size: 12px;
        text-decoration: none;
        color: var(--base03);
        padding: 2px;
    }
    .inactive-tag {
        background-color: var(--base00);
    }
    .active-tag {
       background-color: var(--base1);
    }
}

/* MOBILE */
@media (max-width: 600px){
    /* Father div */
    .Container {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
    }
    /* Title */
    .Post-heading {
        padding: 3em 0 2em 0;
        text-align: center;
    }
    .Post-heading h1 {
        font-family: 'Fira Code';
        padding: .4em;
        display: inline;
        color: var(--base2);
        border-bottom: 2px solid var(--base1);
    }

    /* Posts */
    .Posts {
        padding: 20px;
        margin: 20px;
        text-align: left;
    }
    /* <li> tag inside*/
    .post-item {
        padding: 7px;
        list-style: none;
    }
    /* <li> <h3> tag inside/title */
    .post-title {
        display: inline;
    }
    /* <li> <h3> <a> tag inside */
    .post-title a {
        font-family: 'Fira Code';
        font-size: 18px;
        text-decoration: underline;
        color: var(--cyan);
    }
    /* <li> <time> tag inside */
    .post-date {
        font-family: 'Fira Code';
        font-size: 12px;
        font-style: italic;
        color: var(--base01);
        margin-left: 10px;
    }
    /* post summary div */
    .post-summary {
        font-family: 'Anonymous Pro';
        height: auto;
        margin: 5px;
        color: var(--base0);
    }

    /* Tags */
    .tags {
        margin: 5px;
    }
    .tags b {
        font-family: monospace;
        color: var(--base1);
    }
    .tags a {
        font-family: 'Fira Code';
        font-size: 12px;
        text-decoration: none;
        color: var(--base03);
        padding: 2px;
    }
    .inactive-tag {
        background-color: var(--base00);
    }
    .active-tag {
       background-color: var(--base1);
    }
}
